// 文本格式化超出省略号  参数：宽度，单行/多行
@mixin text-overflow($width: null, $row: 1){
    @if $width != null{
        width: $width;
    }
	@if $row == 1{
		white-space: nowrap; /*中英文有效*/
		text-overflow: ellipsis;
		overflow: hidden;
	} @else {
		/*英文和数字无效啊*/
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $row;
		overflow: hidden;
		word-break: break-all;	//英文换行，以字母为依据
		/*英文和数字无效啊*/
	}
}